.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.item {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: #222;
}
